schema.urp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Ivan (Telemaxa) -->
<!--W3C Schema generated by XMLSpy v2008 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="TurnCells" substitutionGroup="BandContent">
		<xs:annotation>
			<xs:documentation>Цикл по осям поворота</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BandContent" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="on" default="level">
				<xs:annotation>
					<xs:documentation>цикл по уровням поворота (level) или по нижнему уровню (all)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="level"/>
						<xs:enumeration value="all"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SwitchBand" substitutionGroup="BandContent">
		<xs:annotation>
			<xs:documentation>Условная вставка в Band</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CaseBand" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Секция вставки</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="BandContent" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:attribute name="for" use="required">
							<xs:annotation>
								<xs:documentation>Перечень секций|other</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="MAIN"/>
									<xs:enumeration value="other"/>
									<xs:enumeration value="personal"/>
									<xs:enumeration value="store"/>
									<xs:enumeration value="teritory"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StyleSections">
		<xs:annotation>
			<xs:documentation>Стили</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Style" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="for" use="required">
							<xs:annotation>
								<xs:documentation>Для шаблонов</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string"/>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="background-color" use="optional">
							<xs:simpleType>
								<xs:restriction base="xs:string"/>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="font-size"/>
						<xs:attribute name="font-weight"/>
						<xs:attribute name="color"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetBand" substitutionGroup="BandContent">
		<xs:annotation>
			<xs:documentation>Цикл по набору</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="BandContent"/>
			</xs:sequence>
			<xs:attribute name="text">
				<xs:annotation>
					<xs:documentation>в содержимое ...</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="separate" type="xs:string">
				<xs:annotation>
					<xs:documentation>разделитель</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="for" use="required">
				<xs:annotation>
					<xs:documentation>выборка с типом SET</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Report">
		<xs:annotation>
			<xs:documentation>Запуск формирования отчета</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="QuerySections">
					<xs:annotation>
						<xs:documentation>Раздел выборок данных</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="StyleSections" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Раздел стилей</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="BandSections">
					<xs:annotation>
						<xs:documentation>Раздел шаблонов секций</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Print" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Запуск формирования отчета </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="QuerySections">
		<xs:annotation>
			<xs:documentation>Секция запросов</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Query" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Выборка</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Query">
		<xs:annotation>
			<xs:documentation>Запрос</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element name="Sort" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Сортировка выборки</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="order" use="required">
							<xs:annotation>
								<xs:documentation>Поле сортировки</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="reverse" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>reverse - по убыванию</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Group" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Ссылка на групповую выборку</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Sort" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="order" use="required">
										<xs:annotation>
											<xs:documentation>Поле сортировки</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string"/>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="reverse" type="xs:boolean">
										<xs:annotation>
											<xs:documentation>reverse - по убыванию</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="to" use="required">
							<xs:annotation>
								<xs:documentation>Выборка</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string"/>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="reference" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>Поля FK-ссылки</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Link" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Ссылка на доп. выборку</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="to" use="required">
							<xs:annotation>
								<xs:documentation>Выборка</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string"/>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="reference" type="xs:string">
							<xs:annotation>
								<xs:documentation>Поля FK-ссылки</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Turn" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Кросс-таблица</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="key" use="required">
							<xs:annotation>
								<xs:documentation>Ключи поворачиваемого блока </xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="on" use="required">
							<xs:annotation>
								<xs:documentation>Оси поворота</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="table" type="xs:string">
				<xs:annotation>
					<xs:documentation>Таблица БД</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="sum">
				<xs:annotation>
					<xs:documentation>Суммируемые поля</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="sqlSubSelect" type="xs:string">
				<xs:annotation>
					<xs:documentation>Текст подзапроса</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="sqlSelect" type="xs:string">
				<xs:annotation>
					<xs:documentation>Текст запроса</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="order">
				<xs:annotation>
					<xs:documentation>Поля сортировки</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="fRubr">
				<xs:annotation>
					<xs:documentation>Поле - рубрикатор</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="rub_terit"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="fName">
				<xs:annotation>
					<xs:documentation>Поле - наименование</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="fKeyUp">
				<xs:annotation>
					<xs:documentation>Поле ID родителя</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type">
				<xs:annotation>
					<xs:documentation>Тип DATA-с вычислением, SET-1xN</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:QName">
						<xs:enumeration value="DATA"/>
						<xs:enumeration value="SET"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Expr" substitutionGroup="BandContent">
		<xs:annotation>
			<xs:documentation>Код PHP</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="text"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Cell" substitutionGroup="BandContent">
		<xs:annotation>
			<xs:documentation>Ячейка/элемент</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0">
				<xs:element ref="SetBand" minOccurs="0"/>
				<xs:element ref="Expr" minOccurs="0"/>
				<xs:element name="CheckVisibility" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="mask">
							<xs:simpleType>
								<xs:restriction base="xs:short">
									<xs:enumeration value="1001"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:any namespace="##other" processContents="skip" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="text">
				<xs:annotation>
					<xs:documentation>содержимое ячейки</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="expr">
				<xs:annotation>
					<xs:documentation>содержимое - выражение</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="condition">
				<xs:annotation>
					<xs:documentation>условие вывода ячейки</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="cellNumber">
				<xs:annotation>
					<xs:documentation>номер (начиная с 1) ячейки в строке. При некорректной работе схлопывания колонок из-за rowspan</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="rowspan"/>
			<xs:attribute name="colspan"/>
			<xs:attribute name="class"/>
			<xs:attribute name="style"/>
			<xs:attribute name="field"/>
			<xs:attribute name="type">
				<xs:annotation>
					<xs:documentation>тип содержимого</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="float"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="BandSections">
		<xs:annotation>
			<xs:documentation>Шаблоны секций документа</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Band" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Шаблон секции/секций</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="BandContent" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:attribute name="for" use="required">
							<xs:annotation>
								<xs:documentation>для секции</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="place">
							<xs:annotation>
								<xs:documentation>место header|footer</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="paddingLevel">
							<xs:annotation>
								<xs:documentation>отступ содержимого первой ячейки</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="level"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BROW" substitutionGroup="BandContent">
		<xs:annotation>
			<xs:documentation>Новая строка</xs:documentation>
		</xs:annotation>
		<xs:complexType/>
	</xs:element>
	<xs:element name="BandContent" abstract="true">
		<xs:annotation>
			<xs:documentation>Абстрактный элемент Band</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
